body{
	background:#555;
	font-family: verdana;
}

h1,ul{
	color:white;
	background-color: black;
}

a{
	color: green;
}

p{
	padding: 10px;
}

.sec{
	padding: 20px;
	color:red;
	font-family: arial;
}

#special{
	padding: 20px;
	color:green;
	font-family: cursive;
}